.highlight-box {
    background-color: lightblue;
    padding: 10px;
    border-radius: 5px;
  }

  /* Whole document: */
body{
    font-family: Helvetica;
    font-size: 8.5pt;
  }
  /* Headers */
  h1{
    font-size: 20pt;
  }
  h2{
    font-size: 18pt;
  }
  h3{
    font-size: 16pt;
  }
  h4{
    font-size: 14pt;
  }